<!DOCTYPE html>
<html>
<head>
     	<title>Personal Portfolio Webpage</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="main.css">
 <link rel="stylesheet" type="text/css" href="pills.css">

</head>
<body>
 <div class="container">
    <div class="nav">
      <h1>Alex Polotskiy</h1>
          <ul class="menu">
            <li><a href="#about">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#contact">Contact</a></li>
          </ul>
    </div>
<div class="about" id="about">
 	<div class="row">
    <div class="four columns">
      <a href="#"><img class="my-img" src="https://scontent.fewr1-2.fna.fbcdn.net/v/t1.0-9/1931472_104047256276666_3751522_n.jpg?oh=343ef8f35817297002ca51d5664121ba&oe=59296613"/></a>	
 		</div>
    
<div class="eight columns">
   <h2 class="stack">Full stack developer</h2> 
 			<p>Programming is my passion. All what I do is just translate idea into working applications. My goal is do best as you can in all time, in all cases. Programming language or some technology is just an instrument and if I need something in first time I`m ready to learn it. My rule of three T: Testing are cool, Term is really important, Trust is matter, so if you want to give me some test - I am ready at all time.</p>
<hr>
  <h3><strong>Competences:</strong></h3>
     <p><strong>Languages and Frameworks: Javascript,  HTML5,  CSS3,  jQuery, React.js,  Node.js, <%= skills %> AngularJS.</strong></p>

<p>Tools & expertise: Git,  Responsive Web Design.</p>
 		</div>
</div>	 	                  
</div>

 	<div class="portfolio" id="portfolio">                   
 	  <div class="row">
    <h2>Potfolio</h2>
 	    <div class="six columns">
        <img class="placeholder" src="http://www.jqueryscript.net/images/jQuery-Based-Analog-And-Digital-World-Clock-jClocksGMT-js.jpg"/>
      </div>  
    <div class="six columns">
         <img class="placeholder" src="http://farm1.static.flickr.com/184/477712466_d47ff53c5b.jpg?v=0"/>
         </div>
      <div class="six columns">
          <img class="placeholder" src="https://html5hive.org/wp-content/uploads/2015/10/react-tutorial-beginners.png"/>
          </div>
       
        <div class="six columns">
          <img class="placeholder" id="js" src="https://www.stimulsoft.com/images/products/reports-js/js.png"/>
          </div>
        </div>
      
    <div class="contact" id="contact">
             <h2>Contact Me</h2>

 <div class="form-info">
  	  <form action="info">
  <div class="form-item">
  		<input type="text" name="fname" required="fname" placeholder="First Name" size="20"><br>
  </div> 
  <div class="form-item">
  		<input type="text" name="lname" required="lname" placeholder="Last Name"><br>
   </div>
   <div class="form-item"> 
  		 <input type="tel" placeholder="Phone Number"><br>
   </div>
   <div class="form-item"> 
   		<input type="Email" placeholder="Email Address"><br>
   </div>
    <div class="form-item">
    	<textarea id="message" rows="5" placeholder="Message" required=""></textarea>
  </div>
<button type="submit">Send</button> 
    </form>
    </div>	
   </div>
</div>
<footer>
	<a href="#"><img class="icon1" src="http://www.worldyogacenter.com/wp-content/uploads/2014/01/facebooktransparent.png"/></a>

	<a href="#"><img class="icon2" src="http://www.iconsdb.com/icons/download/gray/linkedin-3-512.png"/></a>

	<a href="#"><img class="icon3" src="http://flaticns.com/web-icons/github.png"/></a>
 
 </footer>
</body>
</html>

