
	<title><%= title%></title>

<div class = "my-ejs">

<h3><strong>Competences:</strong></h3>
     <p><strong>Languages and Frameworks: Javascript,  HTML5,  CSS3,  jQuery, React.js,  Node.js, Express.js, AngularJS.</strong></p>

<p>Tools & expertise: Git,  Responsive Web Design.</p>

<img src="<%= picture %>" class = "pic-ejs"/>
</div>
